.super-mario {
  width: 200px;
  position: absolute;
  top: 100px;
  margin-left: 60px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 420px;
  margin-left: 60px;
}

.baloon {
  position: absolute;
  top: 430px;
  margin-left: 200px;
  z-index: 1;
}

.speach {
  font-size: 25px;
  position: absolute;
  top: 470px;
  z-index: 2;
  margin-left: 220px;
}

.bowser {
  width: 200px;
  position: absolute;
  top: 560px;
  margin-left: 480px;
}