h1 {
  text-align: center;
}

#podium {
text-align: center;
}

.first {
  background-color: rgb(235, 200, 84);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 200px;
  display: block;
  margin: auto;
}

.second {
  background-color: rgb(194, 194, 194);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px; 
  display: inline-block;
}

.third {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  display: inline-block;
}

.list-premiacao {
  display: inline-block;
}

#list-premiacao {
  text-align: center;
}